@import 'variables.scss';

.sidebar {
    height: 86vh;
    width: 15rem;
}

.content {
    display: flex;
    flex: 1;
    background: linear-gradient(to top, $begin-fade-color 50vh, $end-fade-color-2);
}