@import 'variables.scss';

.footer {
    display: flex;
    height: 14vh;
    background-color: $grey-3;
    align-items: center;
    justify-content: space-between;
}

.current-music {
    display: flex;
    color: $white;
    width: 25rem;

    span {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        display: inline-block
    }
}

.music-data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 1rem;
    font-weight: bold;
    cursor: pointer;

    .artist-text {
        text-align: left;
        width: 9rem;
        color: $light-grey-1;
        font-size: 0.8rem;
    }
}

.player {

    .img-button {
        margin-left: 0.5rem;
        margin-right: 0.5rem;
        width: 2rem;
        height: 2rem;
        cursor: pointer;
    }

    .stop-button {
        margin-left: 0.5rem;
        margin-right: 0.5rem;
        width: 2.1rem;
        height: 2.1rem;
        cursor: pointer;
    }
}

.end-buttons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 25rem;

    .img-button {
        margin-left: 1.5rem;
        margin-right: 1.5rem;
        width: 1rem;
        height: 1rem;
        opacity: 0.7;
        cursor: pointer;
    }
}

