@import 'variables.scss';

.content {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to top, $begin-fade-color 50vh, $end-fade-color)
}

.image-logo {

    img {
        width: 24rem;
    }

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 10rem;
}

.login-button {
    border: none;
    text-decoration: none;
    background: $green-2;
    color: $black;
    border-radius: 2rem;
    width: 12rem;
    height: 3rem;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
}