<div class="sidebar">
    <img src="../../../assets/images/sideLogo.png" alt="spotify white logo" class="logo">
    <div class="buttons">
        <button>
            <img class="img-button" src="../../../assets/images/home-button.png" alt="Home button">
            <span class="button-text">Home</span>
        </button>
        <button>
            <img class="img-button" src="../../../assets/images/search-button.png" alt="Home button">
            <span class="button-text">Search</span>
        </button>
        <button>
            <img class="img-button" src="../../../assets/images/library-button.png" alt="Home button">
            <span class="button-text">Your Library</span>
        </button>
    </div>
    <div class="playlists">
        <span class="playlist-title">PLAYLISTS</span>
        <div class="playlist-scroll">
            <app-playlist-button
                [playlistImage]="'../../../assets/images/liked-songs-image.png'"
                [playlistName]="'Liked Songs'"
            >
            </app-playlist-button>
            <app-playlist-button
                *ngFor="let playlist of playlists"
                [playlistImage]="playlist.imageUrl"
                [playlistName]="playlist.name"
            >
            </app-playlist-button>
        </div>
    </div>
    <app-image-playing-song></app-image-playing-song>
</div>
