@import 'variables.scss';

$h-logo: 2.5rem;
$h-buttons: 7.5rem;
$m-between: 1rem;
$h-footer: 4.5rem;
$h-img-playing-song: 14rem;

$flex-subtract: calc($h-logo + $h-buttons + $h-footer + $m-between);

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 131px;
    height: $h-logo;
    margin-top: 1rem;
    margin-left: 1.5rem;
}

.sidebar {
    height: 90vh;
    width: 15rem;
    background-color: $black;
    display: flex;
    flex-direction: column;
    color: $white;
}

.buttons {
    display: flex;
    flex-direction: column;
    background-color: $black;
    justify-content: flex-start;
    margin-top: 1.5rem;
    padding: 0 5px 0 5px;
    height: $h-buttons;
}

button {
    display: flex;
    align-items: center;
    width: 100%;
    background-color: $black;
    border: none;
    color: $white;
    padding-left: 1.5rem;
    cursor: pointer;
    font-weight: bold;
    border-radius: 0.25rem;
    transition: background-color 0.3s ease;
    padding: 8px 0 8px 0;
}

button:hover {
    background-color: $grey-3;
}

.button-text {
    text-align: left;
    width: 9rem;
    color: $light-grey-1;
}

.img-button {
    margin-left: 1.5rem;
    margin-right: 1rem;
    width: 1.3rem;
    height: 1.5rem;
}

.playlist-title {
    margin-left: 1.5rem;
    margin-bottom: 2rem;
}

.playlists {
    color: $light-grey-1;
    font-weight: bold;
    font-size: 0.7rem;
    margin-top: 1.5rem;
}

.playlist-scroll {
    max-height: calc(95vh - $flex-subtract - 5vh - $h-img-playing-song);
    overflow-y: auto;
    margin: 16px 5px;

    &::-webkit-scrollbar {
        display: none;
    }
}

.liked-songs {
    display: flex;
    margin-top: 0.5rem;
}

.liked-songs-image {
    width: 2rem;
    height: 2rem;
    margin: 0 1rem 0  1.5rem;
}

span {
    overflow: hidden;
    text-overflow: ellipsis;
}