<div class="playlist">
    <div class="header">
        <img class="img-playlist" src="../../../assets/images/pop-img.png" alt="Playlist Cover">
        <div class="infos">
            <span class="playlist-span">PLAYLIST</span>
            <span class="playlist-name">Trap Right Now</span>
            <div class="playlist-infos">
                <span class="creator">Spotify </span>
                <span class="likes">● 850.752 likes </span>
                <span class="songs">● 576 songs </span>
            </div>
        </div>
    </div>
    <div class="buttons">
    </div>
    <div class="tracks">
        <div class="tracks-header">
            <span class="hastag">#</span>
            <span class="title">TITLE</span>
            <span class="album">ALBUM</span>
            <span class="date">DATE ADDED</span>
            <img src="../../../assets/images/clock.png" alt="clock">
        </div>
        <hr class="br-line">
    </div>
</div>
