<button class="playlist-button">
    <span class="number">{{index + 1}}</span>
    <div class="track-title">
        <img src={{track.album.imageUrl}} alt="User Playlist Image">
        <div class="info">
            <span class="title">{{track.title}}</span>
            <span *ngIf="track.artists.length == 1" class="artists">{{track.artists[0].name}}</span>
            <span *ngIf="track.artists.length > 1" class="artists">
                {{getArtistsNames(track)}}
            </span>
        </div>
    </div>
    <span class="album">{{track.album.name}}</span>
    <span class="date-added">{{formatDate(track.addedDate)}}</span>
    <span class="time-stamp">{{formatDuration(track.tempo)}}</span>
</button>