
// Project Colors
$black: #000000;
$white: #ffff;
$light-grey-1: #B3B3B3;
$light-grey-2: #C4C4C4;
$grey-1: #333333;
$grey-2: #282828;
$green-1: #1DB954;
$green-2: #1ED760;
$begin-fade-color: #000000; /* Vermelho */
$end-fade-color: #323a40;